.login{
    
    height:100 vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    


}
.login__logo{
    width:100px;
    object-fit:contain;
    margin-top: 20px;
    margin-bottom: 20 px;
}
.login-container{
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid lightgrey;
}
.login__signInButton,.login__registerButton{
    background-color:orange;
    border:1px solid;
    margin-top:10px;
    height:30px;
    border-radius: 2px;
    color: #111;
    border-color: red lightblue lightgreen;

}
.login-container p{
    margin-top: 15px;
    font:10px;



}
.login-container > h1{
    font-weight: 500;
    margin-bottom: 20px;


}
.login-container > form > h5{
margin-bottom: 5px;

}
.login-container >form > input{
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width:98%


    }